<div class="container">
  <div class="row">
    <div class="col-xs-4 col-xs-offset-4">
      <h2>New Dose for <%= @cocktail.name %></h2>
      <%= simple_form_for [@cocktail, @dose] do |f| %>
      <%= f.input :description, placeholder: "Description Eg. 100ml" %>
      <%= f.input :ingredient_id, collection: @ingredients, prompt: "Select a ingredient" %>
      <%# f.select :ingredient_id, options_from_collection_for_select(Ingredient.all, 'id', 'name') %>
      <%= f.button :submit, class: "btn btn-primary" %>
      <% end %>
    </div>
  </div>
</div>
